/* === Container === */
.container {
	margin: auto;
}
/* === Hidden section === */
.hidden {
	display: none;
	// transform: translateY(-100%);
	// opacity: 0;
	// visibility: hidden;
	// pointer-events: none;
}
/* === Box === */
.box {
	background-color: var(--white-color);
	color: var(--blue-800-color);
	display: flex;
}

/* === Button === */
.button {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--blue-800-color);
	padding: 1rem;
	border-radius: 0.5rem;
	font-weight: 700;
	color: var(--white-color);
	transition: all 0.4s;
	&:hover,
	&:focus,
	&.active {
		background: var(--gradient-4-color);
	}
}
.input {
	width: 100%;
	// height: 56px;
	padding: 1rem 1rem 1rem 1.5rem;
	border-radius: 0.5rem;
	border: 0.0625rem solid var(--grey-color);
	color: var(--blue-800-color);
	&::placeholder {
		color: var(--grey-color);
	}
}
/* === Title === */
.title {
	font-weight: 700;
	line-height: 1;
}
/* === Media Queries === */
@media (width > 23.4375rem) {
	.container {
		padding: 0.9375rem;
	}
	.box {
		border-radius: 2.25rem;
	}
}
@media (width > 48rem) {
	.title {
		font-size: 3.5rem;
	}
}
@media (max-width: 48rem) {
	.title {
		font-size: clamp(2.5rem, 1.546rem + 4.07vw, 3.5rem);
	}
}
